/* base css */
html,
body,
.wrapper {
	height: auto;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #5d5d5d;
}

body {
	margin: 0;
	padding: 0;
	background-color: #FCFCFC;
	overflow-x: hidden;
	overflow-y: auto;
}

.container-wrapper section {
	margin: 0 0 0 2px;
}

.box-tb {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.box-cell {
	display: table-cell;
}

/* common css */
.btn {
	padding: 6px 32px;
}

.note-editor .btn.btn-sm {
	padding: 5px 10px;
}

.btn-lg {
	padding: 10px 32px;
	font-size: 20px;
}

.btn-brown {
	background-color: #184071;
	border-color: #184071;
	color: #fff;
}

.btn-brown:hover,
.btn-brown:focus {
	background-color: #a97d45;
	color: #fff;
}

.btn-dark-gray {
	background-color: #494949;
	border-color: #333;
	color: #fff;
}

.btn-brown:hover,
.btn-brown:focus {
	background-color: #555;
	color: #fff;
}

.form-inline .form-control {
	min-width: 200px;
}

.icon-setting {
	font-size: 20px !important;
	vertical-align: middle;
	margin: 0px 10px 0px 10px;
}

.main-header .logo {
	background-color: #171921;
}

.sidebar,
.wrapper {
	background-color: #1F222D;
}

.navbar,
.sidebar .list-group-item {
	border-radius: 0;
}

.fa.fa-fw {
	margin-right: 13px;
	font-size: 20px;
}

.table tr td:first-child,
.table tr th:first-child {
	padding-left: 20px;
}

/*.table>tbody>tr>td,
.table>thead>tr>th {
	vertical-align: middle;
}*/

.table>thead>tr>th {
	font-size: 16px;
	padding: 15px 8px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	border-bottom: 0;
}

.table>tbody>tr>td {
	font-size: 14px;
	font-weight: normal;
}

.table>tbody>tr>td:last-child {
	width: 120px;
}

.table > thead > tr > th > a {
	color: #5d5d5d;
}

.table > thead > tr > th > a .fa{
	color: inherit;
	font-size: 10px;
}

.bootstrap-switch {
	width: 42px !important;
}

.bottom-action-btn {
	margin-top: 30px;
}

/* pagination setting */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #c4c9cd;
    border-color: #c4c9cd;
}


/* nav tabs setting */
.nav.nav-tabs,
.nav-tabs + .tab-content {
	padding: 0 20px;
}

.nav-tabs>li {
    margin-bottom: 0px;
}

.nav-tabs>li>a {
    height: 44px;
	border-radius: 0;
	font-size: 15px;
	color: #5d5d5d;
	border-right: 1px solid #ddd;
	font-family: 'Open Sans', sans-serif;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	border-radius: 0;
	font-size: 15px;
	background-color: #9e7540;
	color: #fff;
	border: none;
}

.nav-tabs>li>a .fa {
	font-size: 26px;
	color: #9e7540;
	margin-right: 10px;
    vertical-align: sub;
}

.nav-tabs>li.active>a .fa {
	color: inherit;
}

.tab-content {
	margin-bottom: 30px;
}

.tab-content .heading,
.content .heading {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

.tab-content label {
	font-size: 16px;
}

.tab-content label i {
	font-size: 12px;
}

.tab-content label i {
	color: #cbcbcb;
	font-family: 'Open Sans', sans-serif;
}

.tab-content .btn + .btn {
	margin-left: 10px;
}

.tab-content .img-block {
	position: relative;
}

@media (min-width: 992px) {
	.tab-content .img-block {
		max-width: 160px;
	}
}

.tab-content .img-block > .del-icon {
	position: absolute;
	right: 15px;
	color: #5d5d5d;
	font-size: 20px;
	margin-top: -5px;
}

.tab-content .img-block > .del-icon .fa {
	background-color: #fff;
	border-radius: 50%;
}

.tab-content .map-setting {
	height: 350px;
}

.tab-content .social-media .input-group-addon {
	min-width: 150px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.tab-content .facebook {
	background-color: #4e71a8;
}

.tab-content .google-plus {
	background-color: #e3411f;
}

.tab-content .twitter {
	background-color: #1cb7eb;
}

.tab-content .linkedin {
	background-color: #1686b0;
}

.btn-group .multiselect,
.btn-group .multiselect:hover,
.btn-group .multiselect:focus,
.btn-group.open>.dropdown-toggle.btn-default {
	background-color: #fff;
	box-shadow: none;
	text-align: left;
	padding-left: 12px;
	padding-right: 12px;
}

.btn-group .multiselect .caret {
	float: right;
	margin-top: 7px;
}

/* wrapper setting */
.wrapper {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

/* header setting */
.main-header {
	position: relative;
    max-height: 100px;
    z-index: 1030;
}

/* logo */
.main-header .logo {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 26px;
    line-height: 50px;
    text-align: center;
    width: 265px;
    padding: 0 15px;
    font-weight: bold;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
}

/* navbar setting */
.navbar {
	margin-left: 265px;
	background-color: #fff;
	margin-bottom: 0;
	border: none;
}

.navbar-brand {
	padding: 15px 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
}

.navbar-nav>.user-menu .user-image {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -7px;
    border: 1px solid #8c8c8c;
}

@media (max-width: 767px){
	.main-header .logo,
	.main-header .navbar {
	    width: 100%;
	    float: none;
	}

	.main-header .navbar {
	    margin: 0;
	}
}

/* sidebar setting */
.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 265px;
	min-height: 100%;
	padding-top: 50px;
	color: #fff;
	box-shadow: 1px 1px 2px #000;
	z-index: 810;
	-webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
	transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.sidebar .list-group-item {
	background-color: inherit;
	border-width: 0 0 1px 0;
	border-color: #191b24;
	color: inherit;
	font-size: 16px;
	line-height: 1.5;
	padding: 15px;
}

.sidebar .list-group-item.active,
.sidebar .list-group-item:hover,
.sidebar .list-group-item:focus {
	background-color: #fff;
	color: #191b24;
}

@media (max-width: 767px) {
	.sidebar {
	    padding-top: 100px;
	}

	.sidebar {
	    -webkit-transform: translate(-265px, 0);
	    -ms-transform: translate(-265px, 0);
	    -o-transform: translate(-265px, 0);
	    transform: translate(-265px, 0);
	}
	
	.sidebar-open .sidebar {
	    -webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	    -o-transform: translate(0, 0);
	    transform: translate(0, 0);
	}
}

/* container inner content setting */
.container-wrapper {
	margin-left: 265px;
	position: relative;
	background-color: #FCFCFC; 
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 265px;
    z-index: 820;
    min-height: 910px;
}

@media (max-width: 767px) {
	.container-wrapper {
	    margin-left: 0;
	}
}

.container-wrapper header,
.container-wrapper .filter,
.content {
	padding: 15px 20px;
}

.container-wrapper header {
	font-size: 22px;
	background-color: #F5F5F5;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-family: 'Open Sans', sans-serif;
}

.container-wrapper .filter {
	font-size: 22px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-family: 'Open Sans', sans-serif;
}

.container-wrapper .info-box {
	padding: 25px 0px;
}

.info-box .total {
	font-weight: 600;
	font-size: 40px;
}

.info-box .name {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 600;
}

@media (min-width: 991px) and (max-width: 1400px) {
	.info-box .total {
		font-size: 25px;
	}

	.info-box .name {
		font-size: 15px;
	}
}

.info-box .view-more {
	font-size: 14px;
	color: #B1946E;
	font-weight: normal;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 3px;
}

.container-wrapper .box-tb {
	border-spacing: 25px;
}

.container-wrapper .box-cell {
	border: 2px solid #3f8dcb;
	border-radius: 16px;
	padding: 20px;
	position: relative;
    background: url(../../img/info-bg.png) no-repeat 0 0/cover;
}

@media (max-width: 991px) {
	.container-wrapper .box-tb {
		display: block;
		padding: 0 20px;
	}

	.container-wrapper .box-cell {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
}

@media (min-width: 992px) and (max-width: 1299px) {
	.container-wrapper .box-tb {
		display: block;
		padding: 0 20px;
	}

	.container-wrapper .box-cell {
		display: inline-block;
		width: 49%;
		margin-bottom: 20px;
	}

	.container-wrapper .box-cell:nth-child(odd) {
		margin-right: 2%;
	}

	.container-wrapper .box-cell:nth-child(even) {
		float: right;
	}
}

.container-wrapper .table .name {
	font-weight: 500;
	display: block;
	padding-left: 50px;
	position: relative;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.container-wrapper .table .hotel-pic {
	width: 80px;
}

.container-wrapper .table .name.hotel {
	font-weight: 500;
	display: block;
	padding-left: 0;
	position: relative;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.container-wrapper .table .name > small {
	font-weight: normal;
	font-size: 14px;
}

.container-wrapper .name img {
	position: absolute;
	border-radius: 50%;
	left: 0;
	width: 41px;
	height: 41px;
	border: 1px solid #8c8c8c;
}

.container-wrapper .name.hotel img {
	position: absolute;
	border-radius: 0;
	left: 0;
	width: 60px;
	height: 40px;
	border: 1px solid #8c8c8c;
}

/* Room type table setting */
.room-type-tb > tbody > tr > td:last-child,
.room-type-tb > thead > tr > th:last-child {
	width: 100px;
}

.filter .btn {
	padding: 6px 12px;
}

/* Booking Detail */
.content .table > tbody > tr > td:first-child {
	padding-left: 0;
}

.content .table > tbody > tr > td {
	font-family: 'Open Sans', sans-serif;
	border: none;
	font-size: 16px;
}

.content .table-info .fa {
	width: 20px;
}

.content .hotel-info img {
	width: 100%;
}

.hotel-info .hotel-info-image-footer{
	color: #fff;
	background-color: #9e7540;
}

.hotel-info .hotel-info-image-footer,
.hotel-info .hotel-detail {
	padding: 6px 15px;
}

.hotel-info-image-footer .name {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.well .heading {
	margin-top: 0;
}

.booking-info,
.booking-info .table > tbody > tr > td {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.booking-info .table > tbody > tr > td:first-child {
	width: 150px;
}

.booking-info .well-white {
	background-color: #fff;
	box-shadow: none;
}

.booking-info .well-white .table {
	margin-bottom: 0;
}

.booking-info .well-white .table > tbody > tr:last-child {
	border-top: 1px solid #ddd;
}

.booking-info .well-white .table > tbody > tr > td:last-child {
	width: 150px;
	text-align: right;
}

/* rating and review */
.review-info > tbody > tr > td:first-child {
	width: 20%;
}

.review-info > tbody > tr > td:nth-last-of-type(-n+3) {
	width: 7%;
}

.cms-page .bootstrap-switch-container {
	width: 82px !important;
}

.main-alert-msg-box {
	position: absolute;
    z-index: 1040;
    left: 0;
    margin-left: 265px;
    right: 0;
}

.tab-content form >.tab-pane {
	display: none;
}

.tab-content form >.active {
    display: block;
}

.btn-find-address {
	padding: 2px 24px;
    font-size: 20px;
    margin-top: 27px;
}

.date .input-group-btn .btn {
	padding: 6px 12px;
}

.date .input-group-addon {
    background-color: #a97d45;
    color: #fff;
}

.search-bar {
	width: 296px !important;
}

.logo-admin {
	width: 150px;
    text-align: left;
    margin: 25px;
}

.breadcrumb-custom {
	background-color: #fff;
}

.email-btn {
	background-color: #184071;
	color: #fff;
}
.navbar-brand.logo > img {
	width: 82%;
}